# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
src/assets/database/*

.claude
.cache

vocabulary.md

*.mapping.json
*.elevenlabs.json
*.whisper.json

friend-and-trip-words.txt
friend-and-trip.mp3
friend-and-trip.mp4
story.txt
story.plain.txt
story.mapping.json
story.mp3
story.whisper.json
models
